BPTeenused/WebContent/kuller.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://idu0080.tud.ttu.ee/kuller/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="kuller" targetNamespace="http://idu0080.tud.ttu.ee/kuller/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://idu0080.tud.ttu.ee/kuller/">
      <!-- xsd:element name="KulleridParing">
        <xsd:complexType>
        </xsd:complexType>
      </xsd:element-->
      <xsd:complexType name="kuller">
        				<xsd:sequence>
        					<xsd:element name="kuller_id"
        						type="xsd:int">
        					</xsd:element>
        					<xsd:element name="nimi"
        						type="xsd:string">
        					</xsd:element>
        				</xsd:sequence>
        			</xsd:complexType>
      <xsd:element name="KulleridVastus">
        <xsd:complexType>
        	<xsd:sequence>
				<xsd:element name="kuller" maxOccurs="unbounded" minOccurs="0" type="tns:kuller">
        			
        		</xsd:element>
        	</xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getKulleridSisend">
    <!-- wsdl:part element="tns:KulleridParing" name="parameters"/-->
  </wsdl:message>
  <wsdl:message name="getKulleridVastus">
    <wsdl:part element="tns:KulleridVastus" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="kuller">
    <wsdl:operation name="getKullerid">
      <wsdl:input message="tns:getKulleridSisend"/>
      <wsdl:output message="tns:getKulleridVastus"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="kullerSOAP" type="tns:kuller">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getKullerid">
      <soap:operation soapAction="http://idu0080.tud.ttu.ee/kuller/getKullerid"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="kuller">
    <wsdl:port binding="tns:kullerSOAP" name="kullerSOAP">
      <soap:address location="http://localhost:8086/kuller"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
